<section class="bg-dark relative" id="about-followup">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Keys to Success</h2>
                <hr class="light">
                <p class="text-faded">
                    The keys to success in hiring a software engineering firm 
                    lie in finding a trustworthy, experienced, and skilled 
                    partner who can turn your business objectives into the 
                    software that you need.
                </p>                
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get in Touch</a>
                <div class="spacer"></div> 
            </div>
        </div>
    </div>
    <a href="#portfolio" class="section-footer page-scroll"></a>
</section>