<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Application development, focusing on cutting-edge mobile challenges</h1>
            <hr>
            <p><b>Building the Future, App by App</b></p>
            <p>LeanMeanTech is building apps for the mobile world, the world
preparing for the Internet of Things (IoT), the sharing economy, the world of wearable tech, the world at the core of modern business.
</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
