<section class="bg-primary" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Many Faces of LeanMeanTech Clients</h2>
                <hr class="light">
                <p>
                    From striving forward with small startups to working with Fortune 500 enterprises, LeanMeanTech delivers mobile applications.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-popin">
                <a href="https://www.dropoff.com/" target="_blank">
                    <div class="logo">
                        <img src="{{page.leadingpath}}img/external/portfolio/dropoff_blank.png" class="blank img-responsive" alt="">
                        <img src="{{page.leadingpath}}img/external/portfolio/dropoff_normal.png" class="normal img-responsive" alt="">
                    </div>
                    
                    <!-- <div class="caption">
                        <div class="project-category">
                            Going to Market
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-popin">
                <a href="https://www.silvercar.com/" target="_blank">
                    <div class="logo">
                        <img src="{{page.leadingpath}}img/external/portfolio/silvercar_blank.png" class="blank img-responsive" alt="">
                        <img src="{{page.leadingpath}}img/external/portfolio/silvercar_normal.png" class="normal img-responsive" alt="">
                    </div>
                    
                    <!-- <div class="caption">
                        <div class="project-category">
                            Upping the Android Game
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-popin">
                <a href="https://www.adidas.com/us/" target="_blank">
                    <div class="logo">
                        <img src="{{page.leadingpath}}img/external/portfolio/adidas_blank.png" class="blank img-responsive" alt="">
                        <img src="{{page.leadingpath}}img/external/portfolio/adidas_normal.png" class="normal img-responsive" alt="">
                    </div>
                    
                    <!-- <div class="caption">
                        <div class="project-category">
                            Partner in Idea Development
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-popin">
                <a href="https://www.docbookmd.com/" target="_blank">
                    <div class="logo">
                        <img src="{{page.leadingpath}}img/external/portfolio/docbookmd_blank.png" class="blank img-responsive" alt="">
                        <img src="{{page.leadingpath}}img/external/portfolio/docbookmd_normal.png" class="normal img-responsive" alt="">
                    </div>
                    
                    <!-- <div class="caption">
                        <div class="project-category">
                            Compliance and Business Rules
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-popin">
                <a href="https://www.homeaway.com/" target="_blank">
                    <div class="logo">
                        <img src="{{page.leadingpath}}img/external/portfolio/homeaway_blank.png" class="blank img-responsive" alt="">
                        <img src="{{page.leadingpath}}img/external/portfolio/homeaway_normal.png" class="normal img-responsive" alt="">
                    </div>
                    
                    <!-- <div class="caption">
                        <div class="project-category">
                            Android Experts
                        </div>
                    </div> -->
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-popin">
                <a href="https://www.honestdollar.com/" target="_blank">
                    <div class="logo">
                        <img src="{{page.leadingpath}}img/external/portfolio/honestdollar_blank.png" class="blank img-responsive" alt="">
                        <img src="{{page.leadingpath}}img/external/portfolio/honestdollar_normal.png" class="normal img-responsive" alt="">
                    </div>
                    
                    <!-- <div class="caption">
                        <div class="project-category">
                            Android Experts
                        </div>
                    </div> -->
                </a>
            </div>
        </div>
    </div>
</section>