<!-- Header Loading Hint, update _base.css header selector too -->
<img id="blankout-hint" src="{{page.leadingpath}}/img/header/8.jpg" height="1" width="1">

<!-- jQuery -->
<script src="{{page.leadingpath}}js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{page.leadingpath}}js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{page.leadingpath}}js/jquery.easing.min.js"></script>
<!-- <script src="{{page.leadingpath}}js/jquery.fittext.js"></script> -->
<script src="{{page.leadingpath}}js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{page.leadingpath}}js/creative.js"></script>
