<section class="bg-white relative external-homeaway notop" id="testimony">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 testimony">
                <p class="text-faded">
                    ￼￼LeanMeanTech’s deep platform expertise was invaluable to us 
                    from design through implementation and release of our apps. 
                    In particular, LeanMeanTech’s advice and quick turnaround 
                    during the prototyping phase raised our confidence that we 
                    were making the right design decisions for our app. In 
                    addition, being able to offload implementation of some of 
                    the most complicated platform-specific UIs to the LeanMean 
                    guys was a huge benefit.
                </p>
            </div>
            <div class="col-md-3 col-md-offset-0 signature wow slideInDown">
                <h2>Alex Devine</h2>
                <h5>Director of Engineering, Mobile</h5>
                <img src="{{page.leadingpath}}img/external/logo-homeaway.svg" />
            </div>
            
            <div class="spacer"></div>
        </div>
    </div>
    <a href="#testimony" class="section-footer page-scroll"></a>
</section>
