<section class="relative external-silvercar section-testimony notop nobottom-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-5 col-md-offset-2 testimony">
                <p class="text-faded text-big">
                    <span class="text-quote">&ldquo;</span>
                    I'd strongly recommend the LeanMeanTech team for project work, 
                    staff augmentation, or architectural consulting.
                    <span class="text-quote">&rdquo;</span>
                </p>
                <ol class="carousel-indicators-inner visible-xs-block">
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                </ol>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-0 signature">
                <div class="triangle visible-xs-block"></div>
                <div class="spacer"></div>
                
                <h2>Allen Darnell</h2>
                <h5>Chief Technology Officer</h5>
                <img src="{{page.leadingpath}}img/external/logo-silvercar.png" class="logo" alt="Silvercar" />
                
                <div class="spacer"></div>
                <!--
                <a href="#about-followup" class="section-footer block page-scroll inverse visible-xs"></a>
                -->
            </div>
        </div>
    </div>
    <!--
    <a href="#about-followup" class="section-footer page-scroll hidden-xs"></a>
    -->
</section>