$theme-external-homeaway-blue: #2a6ebb;

// Above w/ a 50% opacity #000
$theme-external-homeaway-dark-blue: #15375d;

section {
    &.external-homeaway {        
        border-top: 5px solid $theme-external-homeaway-dark-blue;
        background: $theme-external-homeaway-blue;
        
        .signature {
            background: #FFF;
        }
        
        .triangle {
            border-top: 10px solid $theme-external-homeaway-blue !important;
        }
        
        @media (min-width: 1170px) {
            .signature {
                border-bottom: 5px solid $theme-external-homeaway-dark-blue;
            }
        }
        
        .testimony {            
            background: $theme-external-homeaway-blue;
            
            p {
                margin-top: 0px;
                
                &.text-faded {
                    color: rgba(white, .80);
                }
            }
        }
    }
}