$theme-external-homeaway-blue: #2a6ebb;

// Above w/ a 50% opacity #000
$theme-external-homeaway-dark-blue: #15375d;

section {
    &.external-homeaway {        
        border-top: 5px solid $theme-external-homeaway-dark-blue;
        
        @media (min-width: 768px) {
            background: $theme-external-homeaway-blue;
        }
        
        .signature {
            background: #FFF;
        }
        
        .triangle {
            border-top: 10px solid $theme-external-homeaway-blue !important;
        }
        
        @media (min-width: 1170px) {
            .signature {
                border-bottom: 5px solid $theme-external-homeaway-dark-blue;
            }
        }
        
        .testimony {
            background: $theme-external-homeaway-blue;
            
            p {
                color: white;
                margin-top: 0px;
                
                .text-faded {
                    color: rgba(white, .90);
                }
                
                .text-quote {
                    color: rgba(white, .70);
                }
            }
        }
    }
}

$theme-external-silvercar-turquoise: #45abc7;

// Above w/ a 50% opacity #000
$theme-external-silvercar-dark-turquoise: #225563;

section {
    &.external-silvercar {        
        border-top: 5px solid $theme-external-silvercar-dark-turquoise;
        
        @media (min-width: 768px) {
            background: $theme-external-silvercar-turquoise;
        }
        
        .signature {
            background: #FFF;
        }
        
        .triangle {
            border-top: 10px solid $theme-external-silvercar-turquoise !important;
        }
        
        @media (min-width: 1170px) {
            .signature {
                border-bottom: 5px solid $theme-external-silvercar-dark-turquoise;
            }
        }
        
        .testimony {
            background: $theme-external-silvercar-turquoise;
            
            p {
                color: white;
                margin-top: 0px;
                
                .text-faded {
                    color: rgba(white, .90);
                }
                
                .text-quote {
                    color: rgba(white, .70);
                }
            }
        }
    }
}

$theme-external-adidas-blue: #0071bc;
$theme-external-adidas-dark-blue: #194058;

section {
    &.external-adidas {        
        border-top: 5px solid $theme-external-adidas-dark-blue;
        
        @media (min-width: 768px) {
            background: $theme-external-adidas-blue;
        }
        
        .signature {
            background: #FFF;
        }
        
        .triangle {
            border-top: 10px solid $theme-external-adidas-blue !important;
        }
        
        @media (min-width: 1170px) {
            .signature {
                border-bottom: 5px solid $theme-external-adidas-dark-blue;
            }
        }
        
        .testimony {
            background: $theme-external-adidas-blue;
            
            p {
                color: white;
                margin-top: 0px;
                
                .text-faded {
                    color: rgba(white, .90);
                }
                
                .text-quote {
                    color: rgba(white, .70);
                }
            }
        }
    }
}